/*The old way of doing horizontal layout*/

/*li{
    display: inline;
}*/
/*The modern way of doing horizontal layout*/
main{
    
    text-align: center;
    
}
ul {
    display: flex;
    flex-direction: row; /*by default, flex has flex direcrion row*/
    list-style-type: none;
    gap: 16px;
}


header, footer{
    display: flex;
    justify-content: space-between;
}

input{
    border-radius: .5rem
}


body{
    display: grid;
    grid-template-rows: 1fr 6.5fr 1fr;
    height: 200vh;
    
}

footer{
    grid-area: footer;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 4rem;
}
button{
    padding: .4rem 1rem;
    background-color: #f8f9fa;
    border:#f8f9fa;
    border-radius: 4px;
    cursor: pointer;
}

#climate-message{
    display: flex;
    gap: 1rem;
    align-items: center;
}