/*The old way of doing horizontal layout*/

/*li{
    display: inline;
}*/
/*The modern way of doing horizontal layout*/

ul {
    display: flex;
    flex-direction: row; /*by default, flex has flex direcrion row*/
    list-style-type: none;
    gap: 16px;
}

header{
    display: flex;
    justify-content: space-between;
}

button{
    padding: .4rem 1rem;
    background-color: #f8f9fa;
    border:#f8f9fa;
    border-radius: 4px;
    cursor: pointer;
}